spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - profile
              - email
  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: notesapp
env:
  url:
    frontend: http://frontend:80
    notes-service: http://notes-service:8080
    chat-service: http://note-chat-service:8080
